<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="light-bg">
  <div col-lg-4 class="login-content card" padding>

    <!-- Logo -->
    <div padding text-center>
      <div class="logo primary-bg">
        <ion-icon name="md-restaurant" color="light"></ion-icon>
      </div>
    </div>

    <!-- Login form -->
    <ion-list class="list-form list-no-border">
      <ion-item>
        <ion-label stacked>Restaurant name</ion-label>
        <ion-input type="text" [(ngModel)]="storeName"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input type="email" [(ngModel)]="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Confirm Password</ion-label>
        <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
      </ion-item>

    </ion-list>

    <!--<p text-right ion-text color="light">Forgot Password?</p>-->

    <div margin-top>
      <button ion-button block color="primary" (click)="register()">
        SIGN UP
      </button>
    </div>

    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text (click)="login()">I have an account</span>
    </div>
  </div>
</ion-content>
