<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Order</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6 col-sm-4 col-md-3 col-lg-3 *ngFor="let order of orders" (click)="viewOrder(order)">
        <div class="card">
          <div class="padding-xs">
            <ion-badge color="{{ order.status }}">
              {{ order.status }}
            </ion-badge>
            <h4 ion-text color="primary">#{{ order.orderNumber }}</h4></div>
          <div class="light-bg padding-xs">
            <span class="pull-left">TOTAL</span>
            <strong class="pull-right">${{ order.total }}</strong>
            <div class="clear"></div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
