<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType">
  </canvas>
  <canvas *ngIf="pieChartData.length && pieChartLabels.length" baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [options]="pieChartOptions"
          [chartType]="pieChartType">
  </canvas>

  <ion-grid class="report-grid">
    <ion-row>
      <ion-col class="total" col-6 col-sm-6 col-md-6 col-lg-3>
        <span class="report-label">TOTAL SALE</span>
        <span class="report-numb">${{ total }}</span>
      </ion-col>
      <ion-col class="year" col-6 col-sm-6 col-md-6 col-lg-3>
        <span class="report-label">THIS YEAR</span>
        <span class="report-numb">${{ thisYear }}</span>
      </ion-col>
      <ion-col class="month" col-6 col-sm-6 col-md-6 col-lg-3>
        <span class="report-label">THIS MONTH</span>
        <span class="report-numb">${{ thisMonth }}</span>
      </ion-col>
      <ion-col class="today" col-6 col-sm-6 col-md-6 col-lg-3>
        <span class="report-label">TODAY</span>
        <span class="report-numb">${{ today }}</span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="pending" col-6 col-sm-6 col-md-6 col-lg-3>
        <span class="report-label">PENDING</span>
        <span class="report-numb">{{ pending }}</span>
      </ion-col>
      <ion-col class="serving" col-6 col-sm-6 col-md-6 col-lg-3>
        <span class="report-label">SERVING</span>
        <span class="report-numb">{{ serving }}</span>
      </ion-col>
      <ion-col class="complete" col-6 col-sm-6 col-md-6 col-lg-3>
        <span class="report-label">COMPLETED</span>
        <span class="report-numb">{{ complete }}</span>
      </ion-col>
      <ion-col class="cancelled" col-6 col-sm-6 col-md-6 col-lg-3>
        <span class="report-label">CANCELLED</span>
        <span class="report-numb">{{ cancelled }}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
