<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Categories</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 class="item-block" *ngFor="let cat of categories"
               [ngStyle]="{'background-image': 'url(' + cat.thumbnail + ')'}" (click)="viewCat(cat)"
               (press)="showOptions(cat)">
        <div class="bg">
          <div class="align-bottom">
            <h6 ion-text color="white">{{ cat.name }}</h6>
            <span ion-text color="white">{{ cat.itemCount }} items</span>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="addCat()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

