<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="dark">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Setting</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list class="list-full-border">
    <ion-item class="item-divider">Restaurant setting</ion-item>

    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" [(ngModel)]="restaurant.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Address</ion-label>
      <ion-input type="text" [(ngModel)]="restaurant.address"></ion-input>
    </ion-item>
  </ion-list>
  <button ion-button block color="primary" (click)="save()">
    SAVE
  </button>
</ion-content>
